# ================================
# Core LLM and LangChain
# ================================
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langgraph
langchain-text-splitters==0.2.4
pydantic
tiktoken
faiss-cpu
openai

# ================================
# Document Handling
# ================================
pypdf
unstructured
openpyxl
docx2txt
python-magic
python-pptx

# ================================
# Tools for retrieval
# ================================
wikipedia
arxiv
tavily-python

# ================================
# Streamlit for frontend
# ================================
streamlit

# ================================
# Monitoring
# ================================
langsmith
