# Core LLM and LangChain
langchain==0.3.13
langchain-core==0.3.28
langchain-community==0.3.13
langchain-google-genai==2.0.5
langchain-huggingface
langgraph
pydantic==2.10.3
tiktoken
faiss-cpu

# Document Handling
pypdf
unstructured
openpyxl
docx2txt
python-magic
python-pptx

# Tools for retrieval
wikipedia
arxiv
tavily-python

# Streamlit for frontend
streamlit

# Monitoring
langsmith
